<script>
    $(document).ready(function () {
        let articleId = sessionStorage.getItem('currentArticleId');
        console.log("Article ID from Storage:", articleId);
        if (articleId) {
            $.ajax({
                url: `/articles/getArticle/${articleId}`,
                type: 'GET',
                contentType: 'application/json',
                data: JSON.stringify({ id: articleId }),
                dataType: 'json',
                success: function (article) {
                    if (article) {
                        let articleHtml = `
                          <div class="card news-article my-5">
                              <img src="${article.image}" class="card-img-top" alt="...">
                              <div class="card-body">
                                  <h5 class="card-title">${article.title}</h5>
                                  <p class="card-text">${article.text}</p>
                                  <p class="card-text"><small class="text-muted">Last updated ${article.updated_at}</small></p>
                              </div>
                          </div>
                      `;
                        $('#view_article').html(articleHtml);
                    } else {
                        $('#view_article').html('<p>Article not found.</p>');
                    }
                },
                error: function () {
                    $('#view_article').html('<p>Error fetching article.</p>');
                }
            });
        } else {
            $('#view_article').html('<p>No article ID found in storage.</p>');
        }
    });
</script>