<?php
header('Content-Type: application/json');
?>
<div class="container mt-5">
  <h1>Sign Up</h1>
  <form id="signUpForm">
    <div class="form-group">
      <label for="inputName">Name</label>
      <input type="text" class="form-control" id="inputName">
    </div>
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input type="email" class="form-control" id="inputEmail">
    </div>
    <div class="form-group">
      <label for="aboutMeTextarea">About Me</label>
      <textarea class="form-control" id="aboutMeTextarea" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword">
    </div>
    <div class="form-group">
      <label for="inputConfirmPassword">Confirm Password</label>
      <input type="password" class="form-control" id="inputConfirmPassword">
    </div>
    <button type="submit" class="btn btn-primary" id="signUpButton">Sign Up</button>
  </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $('#signUpForm').submit(function (e) {
      let confirmPassword = $('#inputConfirmPassword').val();
      e.preventDefault();
      let formData = {
        name: $('#inputName').val(),
        email: $('#inputEmail').val(),
        about_me: $('#aboutMeTextarea').val(),
        password: $('#inputPassword').val(),

      };
      if (formData.password !== confirmPassword) {
        alert('Passwords do not match!');
        return;
      }
      $.ajax({
        type: 'POST',
        url: '/users/add',
        contentType: 'application/json',
        data: JSON.stringify(formData),
        success: function (response) {
          if (typeof response === 'string') {
            response = JSON.parse(response);
        }
          console.log(response);
          console.log(response.message=='User created successfully');
          if (response.message == 'User created successfully') {
            window.location.hash = '#view_home';
          } else {
            alert(response.message);
          }
        },
        error: function (xhr, status, error) {
          alert('Error: ' + xhr.responseText);
        }
      });
    });
  });

</script>